<div class="jumbotron">
    <h1>TEAM GNNT</h1>
    <p class="lead">Welcome you go to with system API BOT AI of us. We provide artificial intelligence services in the form of API to serve the development of application of AI industry in the future in the fields of tourism, e-commerce, health and education.</p>
    <p><a href="@Url.Action("Init","Home")" class="btn btn-primary btn-lg">Processing Chat Bot &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Huỳnh Cao Biên</h2>
        <p>
            Technology Technical. <br />
            Deploy system
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/huynhcaobien96">Vỉew profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Đỗ Trần Anh Đức</h2>
        <p>
            Idea
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/dotrananhduc.122">Vỉew profile &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nguyễn Hoàng Anh</h2>
        <p>Support</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/tianangthang7">Vỉew profile &raquo;</a></p>
    </div>
</div>